body {
    margin-top: 40px;
}

.custom-form .form-control, 
.custom-form .btn {
    margin-top: 10px;
}

.filters {
    margin-bottom: 15px;
}

.panel {
    margin-top: 40px;
}

.panel .panel-heading {
    font-size: 24px;
}

.add-button {
    margin-bottom: 20px;
}

.dl-horizontal dt,
.dl-horizontal dd {
    margin-bottom: 5px;
    font-size: 20px;
}